<ion-view view-title="Food Eaten">
  <ion-content>
	  <!--Reference: buttons and all other css components are taken from the Ionic CSS components page-->
	  
	<!--This card will show us the total calories by binding totalCalories from controller-->  
	<div class="card">
		<div class="cardBackground item item-divider" style="text-align: center">
			Total Calories Consumed
		</div>
		<div class="item item-text-wrap">
			Overall Calories: {{ totalCalories }}
		</div>
	</div>
	  
	<!--An ionic list with repeated items for each object in the array, it can slide to the side to re-add or delete an item-->  
	<ion-list>
		<ion-item class="item-remove-animate item-icon-right" ng-repeat="item in food">
			<b>Food Name: </b>{{item.foodName}}
			<br/>
			<b>Calories: </b>{{item.foodCalories}}
			<br/>
			<b>Date Added: </b>{{item.added | date: 'dd/MM/yyyy'}} at {{item.added | date:'HH:mm'}}
			<i class="icon ion-chevron-left icon-accessory"></i>
			<ion-option-button class="button-balanced" ng-click="addFood(item)">ReAdd</ion-option-button>
			<ion-option-button class="button-assertive"  ng-click="deleteFood(item)">Delete</ion-option-button>
		</ion-item>
	</ion-list>
	  
  </ion-content>
</ion-view>
