
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Add Food" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Food Tab -->
  <ion-tab title="Foods" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/food">
    <ion-nav-view name="tab-food"></ion-nav-view>
  </ion-tab>

  <!-- Calculator Tab -->
  <ion-tab title="Calculator" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/calculator">
    <ion-nav-view name="tab-calculator"></ion-nav-view>
  </ion-tab>


</ion-tabs>
